*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #083b4c;
}
.container{
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
}
.container.level1{
    width: 800px;
}
.container.level2{
    width: 720px;
}
.container.level3{
    width: 560px;
}
.box{
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
}
.box.box-bg-color{
    background-color: #00bcad;
}
.buttons-container{
    display: flex;
    justify-content: center;
}
.button{
    margin: 15px;
    padding: 8px;
    font-size: 25px;
    color: #fff;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
}
h2{
    margin: 15px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}